*~
#.*#
.RData
.Rhistory
.Rproj.user
/inst/doc/BayesianInference.R
/inst/doc/BayesianInference.Stex
/inst/doc/Examples.R
/inst/doc/Examples.Stex
/inst/doc/LaplacesDemonTutorial.R
/inst/doc/LaplacesDemonTutorial.Stex
